extends layoutuser

block content
    h1 Welcome User!

    row
        .col-md-2.col-md-offset-2
            .index.phase Phase I
                p.dropdown-menu(style='white-space:pre;')
                    | HTML5
                    | CSS3
                    | JavaScript
                    | jQuery

        //script(type='text/javascript').
        //    $(document).ready(function() {
        //        $("#one").mouseenter(function(){
        //            $("#one").show();
        //        });
        //
        //        $("#one").mouseleave(function(){
        //            $("#one").hide();
        //        });
        //    });

        .col-md-2
            .index.phase Phase II
                p.dropdown-menu(style='white-space:pre;')
                    | Node.js
                    | mongoDB
                    | Express
                    | RESTful API

        //script(type='text/javascript').
        //    $(document).ready(function() {
        //        $(".index.phase").mouseenter(function(){
        //            $(".dropdown-menu").show();
        //        });
        //
        //        $(".index.phase").mouseleave(function(){
        //            $(".dropdown-menu").hide();
        //        });
        //    });

        .col-md-2
            .index.phase Phase III
                p.dropdown-menu(style='white-space:pre;')
                    | Angular.js
                    | MySQL
                    | Express
                    | Ninefold

        //script(type='text/javascript').
        //    $(document).ready(function() {
        //        $(".index.phase").mouseenter(function(){
        //            $(".dropdown-menu").show();
        //        });
        //
        //        $(".index.phase").mouseleave(function(){
        //            $(".dropdown-menu").hide();
        //        });
        //    });

        .col-md-2
            .index.phase Phase IV
                p.dropdown-menu(style='white-space:pre;')
                    | jQuery Mobile
                    | AppGyver
                    | Responsive
                    | Glass

        //script(type='text/javascript').
        //    $(document).ready(function() {
        //        $(".index.phase").mouseenter(function(){
        //            $(".dropdown-menu").show();
        //        });
        //
        //        $(".index.phase").mouseleave(function(){
        //            $(".dropdown-menu").hide();
        //        });
        //    });

        .col-md-2
            .index.phase Phase V
                p.dropdown-menu(style='white-space:pre;')
                    | Rails
                    | Job Placement

        //script(type='text/javascript').
        //    $(document).ready(function() {
        //        $(".index.phase").mouseenter(function(){
        //            $(".dropdown-menu").show();
        //        });
        //
        //        $(".index.phase").mouseleave(function(){
        //            $(".dropdown-menu").hide();
        //        });
        //    });


