extends layout

block content

    link(rel='stylesheet', href='css/t.css')

    body(style='margin: 5px;')

        .row
        .col-lg-3.col-med-3.col-sm-3
        form#loginform.form-signin(action='/', method='post')
            h1.form-signin-heading Please Login
                input.form-control(type='text', name='username', placeholder='User Name')
                input.form-control(type='password', name='password', placeholder='Password')
                input.btn.btn-primary(style='clear: left; width: 100%; height: 32px; font-size: 13px; margin-bottom: 10px;', type='submit', name='commit', value='Login')